<%-include("partials/header")%>
	<div class="ui main text container" id="about">
		<h2 class="ui huge header about">About</h2>
		<hr class="horizontal-rule">
		<p>
			RESTful Blog is a blog app, that I started during a course on RESTful Routing, however the final product is 100 percent mine. This project showcases my abilities as a web developer to create real, full applications.
		</p>
		<p>RESTful Blog is a blog site where you can post a blog and format it with html elements.</p>
		<p>Have Fun!</p>
		<p class="username right">-black_licorice</p>
	</div>
<%-include("partials/footer")%>