<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <title>HTML:blog</title>
</head>
<body class="container">
    <div >
        <div class="title">
            <h1>HTML:blog</h1>
        </div>
        <div class="start "><h1 class="gradient-text"><a href="/blog">START NOW</a></h1></div>
        <div class="about">
            <div>ABOUT</div>
            <p>
			HTML: Blog is a blog app to help people become more familiar with HTML formatting, posts are to be structured in HTML. All Html tags work for formatting your posts (except script tags of course ;))
		</p>
		<p>HTML: Blog is my pet project of a website, all styling and functionality is wholy mine, no css frameworks were used ;)</p>
          <p>Have Fun!</p>
		   <p class="about-right">-black_licorice</p>
        </div>
    </div>
</body>
</html>