<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RESTful Landing</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/landing.css">
</head>
<body>
	<div id="margin-auto">
		<h1 class="ui huge header" id="gradient-text2">RESTful Blog</h1>
		<a href="/blog" class="ui inverted purple button">Continue to Blog</a>
	</div>
	
</body>
</html>