<%-include("../partials/header")%>
	<div class="form-container login">
		<h1 class="form-title">Login</h1>
		<form class="form page-container" action="/login" method="POST">
				<label for="username">Username</label>
				<input type="text" name="username" placeholder="username" required>
				<label for="password">Password</label>
				<input type="password" name="password" placeholder="password" required>
			<button class="btn back">Login</button>
		</form>
	</div>
<%-include("../partials/footer")%>