<%-include("../partials/header")%>
	<div class="form-container login" id="newPost">
		<h1 class="form-title">Register</h1>
		<form class="form page-container" action="/register" method="POST">
				<label for="username">Username</label>
				<input type="text" name="username" placeholder="username" required>
				<label for="password">Password</label>
				<input type="password" name="password" placeholder="password" required>
			<button class="btn back signup">Sign Up</button>
		</form>
	</div>
<%-include("../partials/footer")%>