.right.inverted.menu{
	margin-right: 50px;
}
i.icon{
	font-size: 2rem;
}
.container.main{
	margin-top: 4rem;
}
.huge.header{
	margin-top: 7rem;
	text-align: center;
}
.createdDate{
	color: #bc30db;
}
#blogAuthor{
	color: #bc30db;
	margin-bottom: 10px;
}
.form-button{
	display: inline;
	float: right;
}
.ui.button>.icon:not(.button){
	margin: auto;
	padding-top: 7px;
}
.ui.floated.inverted.violet.button{
	margin: auto;
	padding: 5px;
	font-size: 14px;
}
body{
	background: linear-gradient(-45deg, #E275FF, #000);
	background-repeat: no-repeat;
	background-attachment: fixed
	
}
.ui.segment{
	background: #000;
}
.horizontal-rule{
	border-top: 2px solid #E3DEE5; 
}
#container{
	margin-bottom: 100px;
}
#newPost{
	margin: auto;
	margin-top: 85px;
	padding:10px, 5px;
	border-radius: 5%;
}
.ui.header{
	color: #bc30db;
}
#blogBody{
	color: purple;
	margin-bottom: 25px;
}
.description .blogBody{
	margin-bottom: 15px;
}
#gradient-text {
  background-color: red;
  background-image: linear-gradient(-45deg, #E3DEE5, #000000);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.ui.main.text.container.segment{
	margin-bottom:0;
	margin-top:0 ;
}

.ui.top.attached h2{
	color: #bc30db;
}
.alert{
	position: relative;
	top: 60px;
}
#username{
	color: #bc30db;
}
#showBlog{
	position: relative;
	top: 85px;
	word-wrap: break-word;
}
a.header{
	color: #bc30db;
}