*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        45deg,
        #476098 16.666%, 
        white 16.666%, 
        white 33.333%, 
        #476098 33.333%, 
        #476098 50%, 
        white 50%, 
        white 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        white 83.333%
    );
    background-attachment: fixed;
}
.about{
    height: 290px;
    width: 180px;
    position: relative;
    padding:2%;
    padding-bottom: 10px;
    top: 5px;
    left: 75%;
    background: #476098 ;
    overflow-y: hidden;
    color:rgba(255, 255, 255, 0.85);
    -webkit-box-shadow: -11px 12px 0px 0px rgba(117, 117, 117, 0.75);
    -moz-box-shadow: -11px 12px 0px 0px rgba(117, 117, 117, 0.75);  
    box-shadow: -11px 12px 0px 0px rgba(117, 117, 117, 0.75);
    border: white solid 5px;
    font-size: 15px;
}
.about div{
    text-align: center;
    padding: 2%;
    padding-top: 5%;
    color:rgba(255, 255, 255, 0.85);
    margin-bottom: 14px;
    -webkit-box-shadow: -4px -4px 0px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: -4px 4px 0px 0px rgba(255, 255, 255, 0.75);  
    box-shadow: -4px -4px 0px 0px rgba(255, 255, 255, 0.75);
    text-shadow: 3px 3px 0px rgba(75,75,75, 0.85);
}
@media(max-width: 1100px){
    .about{
        font-size: 12px;
        width: 150px;
        height: 225px;
        transform: translate(-250px, 110px);
    }
    .start{
        transform: translate(-50px, -100px);
    }
}
.title{
    height: 70px;
    width: 250px;
    margin-right: 25px;
    position: relative;
    padding:20px;
    padding-top: 30px;
    top: 5%;
    left: 10%;
    background: #476098 ;
    text-align: center;
    color:rgba(255, 255, 255, 0.85);
    -webkit-box-shadow: -11px 12px 0px 0px rgba(117, 117, 117, 0.75);
    -moz-box-shadow: -11px 12px 0px 0px rgba(117, 117, 117, 0.75);  
    box-shadow: -11px 12px 0px 0px rgba(117, 117, 117, 0.75);
    border: white solid 5px;
    text-shadow: -7px 7px 0px rgba(75,75,75, 0.85);
}
.start{
    width: 300px;
    position: relative;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    top: 30%;
    left: 32.5%;
    -webkit-box-shadow: -11px 12px 0px 0px rgba(117, 117, 117, 0.85);
    -moz-box-shadow: -11px 12px 0px 0px rgba(117, 117, 117, 0.85);  
    box-shadow: -11px 12px 0px 0px rgba(117, 117, 117, 0.85);
}
.gradient-text {
    background-color: #476098;
     background-image: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #f18f43 33.333%, 
        #f18f43 50%, 
        #7a8751 50%, 
        #7a8751 66.666%, 
        #274d76 66.666%, 
        #274d76 83.333%, 
        #A7489B 83.333%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
      animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
  
    }
  
  .gradient-text:hover{
      animation: rainbow-text-simple-animation 0.5s ease-in forwards;
  }
  @keyframes rainbow-text-simple-animation-rev {
      0% {
          background-size: 650%;
      }
      40% {
          background-size: 650%;
      }
      100% {
          background-size: 100%;
      }
    }
  @keyframes rainbow-text-simple-animation {
      0% {
          background-size: 100%;
      }
      80% {
          background-size: 650%;
      }
      100% {
          background-size: 650%;
      }
  }
  h1 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 900;
    text-align: center;
    display: block;
    cursor: pointer;
  }
.about-right{
	float: right;
}
