*{
	margin: 0;
	padding: 0;
}
body{
	background: linear-gradient(
        45deg,
        #476098 16.666%, 
        white 16.666%, 
        white 33.333%, 
        #476098 33.333%, 
        #476098 50%, 
        white 50%, 
        white 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        white 83.333%
    );
    background-attachment: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main.container{
	margin-top: 75px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.page-container{
	background: #476098;
	border: 5px solid white;
	-webkit-box-shadow: -15px 15px 0px 0px rgba(117, 117, 117, 0.75);
     -moz-box-shadow: -15px 15px 0px 0px rgba(117, 117, 117, 0.75);  
     box-shadow: -15px 15px 0px 0px rgba(117, 117, 117, 0.75);
	max-width: 700px;
	margin: 50 auto;
	margin-top: 75px;
	margin-bottom: 50px;
}
.title{
	
	height: 75px;
	width: 50%;
	padding-top: 20px;
	background: #476098;
	margin-left: auto;
	margin-right: auto;
     text-align: center;
     color:rgba(255, 255, 255, 0.85);
     -webkit-box-shadow: -15px 15px 0px 0px rgba(117, 117, 117, 0.75);
     -moz-box-shadow: -15px 15px 0px 0px rgba(117, 117, 117, 0.75);  
     box-shadow: -15px 15px 0px 0px rgba(117, 117, 117, 0.75);
     border: white solid 5px;
    text-shadow: -7px 7px 0px rgba(75,75,75, 0.85);
}
.post-image{
	display: flex;
	justify-content: center;
}
.post-image img{
	border: 2px solid white;
}
.post-body{
	color: white;
	margin-bottom: 15px;
	border-bottom: 1px solid white;
}
.date-container{
	color: white;
	margin-top: 20px;
}
.date{
	font-weight: 800;
}
.post-container{
	padding: 20px;
}
.post-title-bottom{
	color: white;
	font-size: 20px;
	margin-top: 30px;
	border-bottom: 1px solid white;
}
.post-title{
	display: flex;
	justify-content: center;
}
.post-title h2{
	color: white;
	font-size: 40px;
	padding: 30px;
}
.show-body{
	margin: 25px 0;
	word-wrap: break-word;
	font-size: 14px;
	color: white;
}
.show-body a{
	font-size: 1em;
	color: white;
	opacity: 0.75;
}
.show-body a:hover{
	font-size: 18px;
	opacity: 1;
	border-bottom: 1px solid white;
}

.btn{
	border: 1px solid white;
	text-align: center;
	padding: 10px 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	opacity: 1;
	background: #476098;
}
.btn.back{
	border-color: #16c444;
	color: #16c444;
}
.btn.back:hover{
	color: white;
	background-color: #16c444;
}
.btn.edit{
	border-color: #62acde;
	color: #62acde;
}
.btn.edit:hover{
	background-color: #62acde;
	color: white;
}
.btn.delete{
	border-color: #c91a1a;
	color: #c91a1a;
	background-color: #476098;
}
.btn.delete:hover{
	background-color: #c91a1a;
	color: white;
}
.form-button{
	display: inline;
}
.post-author{
	margin-bottom: 30px;
	color: white;
}
.author-username{
	font-weight: 800;
}
.form-right{
	float: right;
}
.form-title{
	padding-top: 20px;
	padding-bottom: 20px;
	width: 170px;
	height: 60px;
	text-align: center;
     color:rgba(255, 255, 255, 0.85);
     -webkit-box-shadow: -10px -10px 0px 0px rgba(117, 117, 117, 0.75);
     -moz-box-shadow: -10px -10px 0px 0px rgba(117, 117, 117, 0.75);  
     box-shadow: -10px -10px 0px 0px rgba(117, 117, 117, 0.75);
     border: white solid 5px;
     text-shadow: -7px 7px 0px rgba(75,75,75, 0.85);
	background: #476098;
	margin: 0 auto;
}
.form-title.edit{
	font-size: 30px;
	font-weight: 800px;
	width: 200px;
	height: 80px;
	text-shadow: none;
}
.form-container{
	margin-top: 72px;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 500px;
	width: 80%;
}
.form-container.login{
	margin-top: 100px;
}
.form{
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 35px;
	padding-bottom: 30px;
}
textarea{
	width: 643px; 
	height: 206px;
	resize: none;
	border-radius: 15px; 
	text-indent: 10px;
	padding: 10px;
}
input{
	border-radius: 15px; 
	text-indent: 10px;
	border: 1px solid white;
}
.form .btn.edit{
	margin-top: 20px;
	width: 100px;
	padding-left: 10px;
	align-self: flex-end;
}
.form .btn.back{
	margin-top: 10px;
	width: 75px;
}
.form .btn.back.edit2{
	width: 75px;
	position: relative;
	bottom: 62px;
	margin: 0;
}
.form .btn.back.signup{
	width: 90px;
}
label{
	color: white;
	margin: 10px auto;
	font-size: 24px;
	font-weight: 800px;
}
.container{
	margin-top: 100px;
	width: 80%;
	
}
.alert{
	font-size: 30px;
	width: 100%;
	border-radius: 20px;
	height: 50px;
	text-align: center;
	color: whitesmoke;
	padding-top: 10px;
	border: 1px solid black;
}
.error{
	border-color: rgb(202, 66, 70);
	background-color: rgba(202, 66, 70, 0.9);
}
.success{
	background-color: rgba(31, 145, 52, 0.9);
	border-color: rgb(31, 145, 52)
}