/*
========================================================================================
=====THIS CODE WAS PREVIOUSLY IN USE AND COULD COME IN HANDY FOR FUTURE DEVELOPMENT=====
========================================================================================
*/

nav.mouseAnim{
	opacity: 0.9;
	animation: moveup 1s ease-in forwards;
}
nav:hover{
    opacity: 1;
    animation: movedown 0.5s ease-out forwards;
    
}
@keyframes movedown{
    from{
        opacity: 0.9;
        transform: translate(0, 0) scale(1) translateZ(0);
    }
    to{
    	   opacity: 1;
        transform: translate(10px, 0) scale(0.98) translateZ(0);
        border: 2px solid white;
        -webkit-box-shadow: -12px 13px 0px 0px rgba(177, 177, 177, 0.75);
        -moz-box-shadow: -12px 13px 0px 0px rgba(177, 177, 177, 0.75);
        box-shadow: -12px 13px 0px 0px rgba(177, 177, 177, 0.75);
	   backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
    }
}
@keyframes moveup{
    to{
    	   opacity: 0.9;
        transform: translate(0, 0) scale(1) translateZ(0);
	    backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
    }
    from{
    	   opacity: 1;
        transform: translate(10px, 0) scale(0.98) translateZ(0);
        border: 2px solid white;
        -webkit-box-shadow: -12px 13px 0px 0px rgba(177, 177, 177, 0.75);
        -moz-box-shadow: -12px 13px 0px 0px rgba(177, 177, 177, 0.75);
        box-shadow: -12px 13px 0px 0px rgba(177, 177, 177, 0.75);
    }
}